<!--@MasterPageFile(Master.html)-->
<!--@Layout.Title(Standardside)-->
<!--@Layout.Description(Template beregnet til alle sider med en højrekolonne)-->

<div class="row">
    <div class="large-12 columns">
      <div class="row">

    <!-- Thumbnails -->

        <div class="large-9 push-3 columns dwcontent" id="rightcol" title="Hovedindhold" settings="default:clean.html">

                    <h1>
                      BISPEBJERG BEGRAVELSESFORRETNING
                    </h1>
                    <h2>
                      En smuk afsked er et godt minde.
                    </h2>

                    <p>
                      Det at miste et menneske der står en nær, er ofte en meget svær situation.

                      Der kommer mange spørgsmål af både praktisk og af menneskelig karakter.

                      Det kan virke meget uoverskueligt.
                    </p>


                    <p>
                      Siden 1935 har vores familie været behjælpelig med at ordne
                      begravelser og bisættelser herhjemme og i udlandet.
                    </p>


                    <p>
                      Vi er kendt for at kunne opfylde særlige ønsker og sørge for alt det praktiske
                      uanset tro eller medlemskab af Folkekirken.
                    </p>

                    <h2>
                      - er altid til rådighed og kan kontaktes døgnet rundt.
                    </h2>

                    <p>
                      Bispebjerg Begravelsesforretning
                    </p>
                    <h2>
                      Lotte & Lars Søgaard
                    </h2>

                    <p>
                      Vi er medlem af brancheforeningen Danske Bedemænd og vi er eksaminerede bedemænd.
                    </p>
                    <br/>

                    <p>
                      Bedemand Peter Larsen er tilknyttet alle vores afdelinger og har gennemført Danske
                    </p>
                    <p>
                      Bedemænds videregående diplomuddannelse.
                    </p>
                    <p>
                      Læs mere om diplomuddannelsen i pressemeddelelsen fra Danske Bedemænd her (pdf-fil).
                    </p>


        </div>
<div class="large-3 pull-9 columns">
	<ul class="side-nav dwnavigation" id="sidenavigation" settings="startlevel:2;template:Sidenavigation.xslt;expandmode:path;"></ul>
  <div class="dwcontent" id="leftcol" title="Venstre kolonne" settings="default:clean.html"></div>
        </div>

    <!-- End Thumbnails -->

      </div>
    </div>
  </div>