header{position:relative;}
.orbit-timer{display: none}
#logo{position:absolute; top:50%; left:60px; z-index:5;}
#logo.small{top:30%;}
#logo.small img{width:60%;}
footer{background:#e5e5e5;}
#footer span{font-size:12px; font-weight:normal; text-align: right; float:right; clear:right; line-height:16px;}
#footer span:first-child{margin-top:35px;}

.clearing-caption{top:0px; bottom:auto;}
.visible-img img{padding-top:71px;}

form table td img{width: auto !important; width:auto !important;}


/*Bisp ønsker forward/backward buttons på mobile visninger også.... det understøttes ikke som default*/
 .clearing-main-prev,
  .clearing-main-next {
    position: absolute;
    height: 100%;
    width: 40px;
    top: 0; }
    .clearing-main-prev > span,
    .clearing-main-next > span {
      position: absolute;
      top: 50%;
      display: block;
      width: 0;
      height: 0;
      border: solid 16px; }

  .clearing-main-prev {
    left: 0; }
    .clearing-main-prev > span {
      left: 5px;
      border-color: transparent;
      border-right-color: black; }

  .clearing-main-next {
    right: 0; }
    .clearing-main-next > span {
      border-color: transparent;
      border-left-color: black; }

  .clearing-main-prev.disabled,
  .clearing-main-next.disabled {
    opacity: 0.5; }

    label.checkbox{margin: 0 0 1.23077em 0; padding: 0 0 0.76923em 0;}
    form legend{font-weight: bold;
background: white;
padding:0.25em 0;
margin: 0 0 1.23em 0;
 font-size:1.05em;}