<form method="post" id="FormSave1" name="FormSave1" data-abide class="custom" enctype="multipart/form-data" action="/Default.aspx?ID=<!--@Global:Page.ID-->">
    <!--@Form.Hidden-->
<legend>Jeg &oslash;nsker f&oslash;lgende dokumenter tilsendt</legend>
<div class="row">
	<label class="checkbox" for="<!--@Form.Fields.Bestilling_Min_sidste_vilje.Systemname-->">
  		 	<div class="large-10 large-offset-2 small-12 columns">
    <input type="checkbox" id="<!--@Form.Fields.Bestilling_Min_sidste_vilje.Systemname-->" name="<!--@Form.Fields.Bestilling_Min_sidste_vilje.Systemname-->" style="display: none;">
    <span class="custom checkbox"></span> Min sidste vilje
 </div>
  </label>
</div>
<div class="row">
	<label class="checkbox" for="<!--@Form.Fields.Bestilling_Elysium_Begravelsesopsparing.Systemname-->">
		<div class="large-10 large-offset-2 small-12 columns">
    <input type="checkbox" id="<!--@Form.Fields.Bestilling_Elysium_Begravelsesopsparing.Systemname-->" name="<!--@Form.Fields.Bestilling_Elysium_Begravelsesopsparing.Systemname-->" style="display: none;">
    <span class="custom checkbox"></span> Elysium Begravelsesopsparing
 </div>
  </label>
</div>
<hr>
<legend>Kontakt mig venligst vedr&oslash;rende</legend>

<div class="row">
	<label class="checkbox" for="<!--@Form.Fields.Bestilling_Et_uforpligtigende_moede.Systemname-->">
		<div class="large-10 large-offset-2 small-12 columns">
    <input type="checkbox" id="<!--@Form.Fields.Bestilling_Et_uforpligtigende_moede.Systemname-->" name="<!--@Form.Fields.Bestilling_Et_uforpligtigende_moede.Systemname-->" style="display: none;">
     <span class="custom checkbox"></span> Et uforpligtigende m&oslash;de
  </div>
  </label>
</div>
<div class="row">
  <label class="checkbox" for="<!--@Form.Fields.Bestilling_Forsikring_opsparing.Systemname-->">

   <div class="large-10 large-offset-2 small-12 columns">
   	<input type="checkbox" id="<!--@Form.Fields.Bestilling_Forsikring_opsparing.Systemname-->" name="<!--@Form.Fields.Bestilling_Forsikring_opsparing.Systemname-->" style="display: none;"><span class="custom checkbox"></span> Forsikring/opsparing
	</div>
  </label>
</div>
<div class="row">
	<div class="large-2 small-12 columns ">
   	<label class="right" for="<!--@Form.Fields.Bestilling_Andet.Systemname-->">Andet</label>
   </div>
    <div class="large-10 small-12 columns">
		<textarea placeholder="Skriv din kommentar her" id="<!--@Form.Fields.Bestilling_Andet.Systemname-->" name="<!--@Form.Fields.Bestilling_Andet.Systemname-->"></textarea>
    </div>
</div>
<hr>
<div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Navn *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Navn" id="<!--@Form.Fields.Bestilling_Navn.Systemname-->" name="<!--@Form.Fields.Bestilling_Navn.Systemname-->" required>
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Adresse *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Adresse" id="<!--@Form.Fields.Bestilling_Adresse.Systemname-->" name="<!--@Form.Fields.Bestilling_Adresse.Systemname-->" required>
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Postnr & By *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Postnr & By" id="<!--@Form.Fields.Bestilling_Postnr.Systemname-->" name="<!--@Form.Fields.Bestilling_Postnr.Systemname-->" required>
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Telefon *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Telefon" id="<!--@Form.Fields.Bestilling_Telefon.Systemname-->" name="<!--@Form.Fields.Bestilling_Telefon.Systemname-->" required>
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Email *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Email" id="<!--@Form.Fields.Bestilling_Email.Systemname-->" name="<!--@Form.Fields.Bestilling_Email.Systemname-->" required>
      </div>
    </div>
<div class="row">
      <div class="large-10 small-12 columns right">
      <p class="left">Felter markeret med * skal udfyldes</p>
      <input type="submit" class="small success button right" value="Send"/>
    </div>
    </div>
<!--@Form.End-->