﻿<link rel="stylesheet" type="text/css" href="/files/templates/datamanagement/forms/pink.css" /> <!-- MOVE THIS TO THE MASTER TEMPLATE-->
<h2>Data Management - Forms</h2>
<!--@Form.Start-->
    <!--@Form.Hidden-->
	<table id="defaultform" class="alternate" cellspacing="0" cellpadding="0">
	<!--@LoopStart(Form.Fields)-->
		<tr class="listitem<!--@Form.Fields.LoopMod2-->">
			<td>
				<label for="<!--@Field.Name-->"><!--@Field.Label--></label>
			</td>
			<td>
				<!--@Field.Control--><!--@Field.Description-->
			</td>
		</tr>
	<!--@LoopEnd(Form.Fields)-->
	</table>
<!--@Form.Button.Reset--><!--@Form.Button.Submit-->
<!--@Form.End-->
