<form method="post" id="FormSave1" name="FormSave1" class="custom" data-abide enctype="multipart/form-data" action="/Default.aspx?ID=<!--@Global:Page.ID-->">
    <!--@Form.Hidden-->

<legend>Jeg &oslash;nsker f&oslash;lgende pjecer tilsendt</legend>
<div class="row">
	<label class="checkbox" for="<!--@Form.Fields.Pjecer_Nar_nogen_dor.Systemname-->">
  	<div class="large-10 large-offset-2 small-12 columns">
    <input type="checkbox" id="<!--@Form.Fields.Pjecer_Nar_nogen_dor.Systemname-->" name="<!--@Form.Fields.Pjecer_Nar_nogen_dor.Systemname-->" style="display: none;">
    <span class="custom checkbox"></span> N&aring;r nogen d&oslash;r
 </div>
  </label>
</div>
<div class="row">
	<label class="checkbox" for="<!--@Form.Fields.Pjecer_Bornebogen_hvor_gor_man_hen.Systemname-->">
		<div class="large-10 large-offset-2 small-12  columns">
    <input type="checkbox" id="<!--@Form.Fields.Pjecer_Bornebogen_hvor_gor_man_hen.Systemname-->" name="<!--@Form.Fields.Pjecer_Bornebogen_hvor_gor_man_hen.Systemname-->" style="display: none;">
    <span class="custom checkbox"></span> B&oslash;rnebogen: Hvor g&aring;r man hen, n&aring;r man g&aring;r bort
 </div>
  </label>
</div>
<div class="row">
	<label class="checkbox" for="<!--@Form.Fields.Pjecer_Malebogen.Systemname-->">
		<div class="large-10 large-offset-2 small-12  columns">
    <input type="checkbox" id="<!--@Form.Fields.Pjecer_Malebogen.Systemname-->" name="<!--@Form.Fields.Pjecer_Malebogen.Systemname-->" style="display: none;">
    <span class="custom checkbox"></span> Malebogen: Hvor g&aring;r man hen, n&aring;r man g&aring;r bort
 </div>
  </label>
</div>
<div class="row">
	<div class="large-2 small-12 columns">
   	<label class="right" for="<!--@Form.Fields.Pjecer_Forslag_til_Andet.Systemname-->">Andet</label>
   </div>
    <div class="large-10 small-12 columns">
		<textarea placeholder="Skriv din kommentar her" id="<!--@Form.Fields.Pjecer_Forslag_til_Andet.Systemname-->" name="<!--@Form.Fields.Pjecer_Forslag_til_Andet.Systemname-->"></textarea>
    </div>
</div>
<hr>
<legend>Kontakt mig venligst vedr&oslash;rende</legend>
<div class="row">
	<label class="checkbox" for="<!--@Form.Fields.Pjecer_Et_uforpligtigende_moede.Systemname-->">
		<div class="large-10 large-offset-2 columns">
    <input type="checkbox" id="<!--@Form.Fields.Pjecer_Et_uforpligtigende_moede.Systemname-->>" name="<!--@Form.Fields.Pjecer_Et_uforpligtigende_moede.Systemname-->" style="display: none;">
     <span class="custom checkbox"></span> Et uforpligtigende m&oslash;de
  </div>
  </label>
</div>
<div class="row">
	<div class="large-2 small-12 columns">
   	<label class="right" for="<!--@Form.Fields.Pjecer_Kontakt_mig_vedr_Andet.Systemname-->">Andet</label>
   </div>
    <div class="large-10 small-12 columns">
		<textarea placeholder="Skriv din kommentar her" id="<!--@Form.Fields.Pjecer_Kontakt_mig_vedr_Andet.Systemname-->" name="<!--@Form.Fields.Pjecer_Kontakt_mig_vedr_Andet.Systemname-->"></textarea>
    </div>
</div>
<hr>
<div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Navn *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Navn" id="<!--@Form.Fields.Pjecer_Navn.Systemname-->" name="<!--@Form.Fields.Pjecer_Navn.Systemname-->" required>
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Adresse *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Adresse" id="<!--@Form.Fields.Pjecer_Adresse.Systemname-->" name="<!--@Form.Fields.Pjecer_Adresse.Systemname-->"  required>
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Postnr & By *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Postnr & By" id="<!--@Form.Fields.Pjecer_Postnr.Systemname-->" name="<!--@Form.Fields.Pjecer_Postnr.Systemname-->"  required>
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Telefon *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Telefon" id="<!--@Form.Fields.Pjecer_Telefon.Systemname-->" name="<!--@Form.Fields.Pjecer_Telefon.Systemname-->"  required>
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-12 columns">
        <label class="right inline">Email *</label>
      </div>
      <div class="large-10 small-12 columns">
        <input type="text" placeholder="Email" id="<!--@Form.Fields.Pjecer_Email.Systemname-->" name="<!--@Form.Fields.Pjecer_Email.Systemname-->"  required>
      </div>
    </div>
    <div class="row">
      <div class="large-10 small-12 columns right">
      <p class="left">Felter markeret med * skal udfyldes</p>
      <input type="submit" class="small success button right" value="Send"/>
    </div>
    </div>

<!--@Form.End-->
