﻿    <!--@If(ItemPublisher:Items.Any=True)-->
    <ul class="clearing-thumbs clearing-feature columns large-3 small-6" data-clearing>


        <!--@LoopStart(ItemPublisher:Items.List)-->

        <!--@If(ItemPublisher:Item.First=True)-->
		  <li class="clearing-featured-img">
        <!--@Else-->
		  <li>
        <!--@EndIf-->

        <a class="th"  href="<!--@ItemPublisher:Item.StortBillede-->">
          <!--@If(ItemPublisher:Item.LilleBillede=="")-->
					<img title="Klik her, for større billede" src="/admin/public/getimage.ashx?Image=<!--@ItemPublisher:Item.StortBillede-->&Format=jpg&Height=114&width=162&Crop=0" data-caption="<!--@ItemPublisher:Item.Tekst-->"/>
		  	<!--@Else-->
		  			<img title="Klik her, for større billede" src="/admin/public/getimage.ashx?Image=<!--@ItemPublisher:Item.LilleBillede-->&Format=jpg&Height=114&width=162&Crop=0" data-caption="<!--@ItemPublisher:Item.Tekst-->"/>
        	<!--@EndIf-->

        </a>
<span class="title"><!--@Snippet(pgname<!--@ItemPublisher:Global.ParagraphId-->)--></span>
        </li>
        <!--@LoopEnd(ItemPublisher:Items.List)-->
    </ul>

    <!--@EndIf-->

