﻿<link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" />

<div class="items">
    <!--@If(ItemPublisher:Items.Any=True)-->
    <ul class="items-list">
        <li class="items-list-header items-clear">
            <!--@If Not Defined(ItemPublisher:Items.CanEdit)-->
            <!--@LoopStart(ItemPublisher:ItemType.Fields)-->
            <span class="items-list-cell<!--@If(ItemPublisher:ItemType.Field.First=True)--> items-list-cell-first<!--@EndIf--><!--@If(ItemPublisher:ItemType.Field.Last=True)--> items-list-cell-last<!--@EndIf-->"><!--@ItemPublisher:ItemType.Field.Name--></span>
            <!--@LoopEnd(ItemPublisher:ItemType.Fields)-->
            <!--@EndIf(ItemPublisher:Items.CanEdit)-->

            <!--@If Defined(ItemPublisher:Items.CanEdit)-->
            <!--@LoopStart(ItemPublisher:ItemType.Fields)-->
            <span class="items-list-cell<!--@If(ItemPublisher:ItemType.Field.First=True)--> items-list-cell-first<!--@EndIf-->"><!--@ItemPublisher:ItemType.Field.Name--></span>
            <!--@LoopEnd(ItemPublisher:ItemType.Fields)-->
            <span class="items-list-cell items-list-cell-last"><!--@Translate(ItemPublisher:Item.Edit, "Edit")--></span>
            <!--@EndIf(ItemPublisher:Items.CanEdit)-->
        </li>

        <!--@LoopStart(ItemPublisher:Items.List)-->
        <li class="items-list-row items-clear" onclick="location.href = '<!--@ItemPublisher:Item.DetailsUrl-->';">
            <!--@If Not Defined(ItemPublisher:Item.CanEdit)-->
            <!--@LoopStart(ItemPublisher:Item.Fields)-->
            <span class="items-list-cell<!--@If(ItemPublisher:Item.Field.First=True)--> items-list-cell-first<!--@EndIf--><!--@If(ItemPublisher:Item.Field.Last=True)--> items-list-cell-last<!--@EndIf-->"><!--@If Defined(ItemPublisher:Item.Field.Value)--><!--@ItemPublisher:Item.Field.Value--><!--@EndIf(ItemPublisher:Item.Field.Value)--><!--@If Not Defined(ItemPublisher:Item.Field.Value)-->&nbsp;<!--@EndIf(ItemPublisher:Item.Field.Value)--></span>
            <!--@LoopEnd(ItemPublisher:Item.Fields)-->
            <!--@EndIf(ItemPublisher:Item.CanEdit)-->

            <!--@If Defined(ItemPublisher:Item.CanEdit)-->
            <!--@LoopStart(ItemPublisher:Item.Fields)-->
            <span class="items-list-cell<!--@If(ItemPublisher:Item.Field.First=True)--> items-list-cell-first<!--@EndIf-->"><!--@If Defined(ItemPublisher:Item.Field.Value)--><!--@ItemPublisher:Item.Field.Value--><!--@EndIf(ItemPublisher:Item.Field.Value)--><!--@If Not Defined(ItemPublisher:Item.Field.Value)-->&nbsp;<!--@EndIf(ItemPublisher:Item.Field.Value)--></span>
            <!--@LoopEnd(ItemPublisher:Item.Fields)-->
            <span class="items-list-cell items-list-cell-last"><a class="item-edit-link" href="<!--@ItemPublisher:Item.EditUrl-->"><!--@Translate(ItemPublisher:Item.Edit, "Edit")--></a></span>
            <!--@EndIf(ItemPublisher:Item.CanEdit)-->
        </li>
        <!--@LoopEnd(ItemPublisher:Items.List)-->
    </ul>

    <!--@If(ItemPublisher:Items.Paging.TotalPages>1)-->
    <ul class="items-list-paging items-clear">
        <!--@LoopStart(ItemPublisher:Items.Paging.Pages5)-->
        
        <li class="items-list-page">
            <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent=True)-->
            <strong><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></strong>
            <!--@EndIf-->
            <!--@If(ItemPublisher:Items.Paging.Pages5.Page.IsCurrent<>True)-->
            <a href="<!--@ItemPublisher:Items.Paging.Pages5.Page.UrlHtmlEncoded-->"><!--@ItemPublisher:Items.Paging.Pages5.Page.Number--></a>
            <!--@EndIf-->
        </li>
        <!--@LoopEnd(ItemPublisher:Items.Paging.Pages5)-->
    </ul>
    <!--@EndIf-->
    <!--@EndIf-->
</div>